*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
}

.todo-left{
    margin: 30px;
    height: 80vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: brown;
}

.todo-right{
    margin: auto 30px;
    height: 80vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;   
    align-items: center;  
    color: brown;
}

.todo-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.todo-list li{
    display: flex;
    gap: 20px;
    margin: 8px;
    padding: 8px;
    background-color: darkgoldenrod;
    justify-content: space-between;
}

.todo-btn{
    display: flex;
    gap: 5px;
}

.todo-fun{
    display: flex;
    flex-direction: column;
}

.todo-fun input{
    width: 100%;
    border: 1px solid darkgoldenrod;
    margin: 8px;
    padding: 8px;
}

.todo-fun button{
    width: 80%;
    align-self: center;
    border: 1px solid darkgoldenrod;
    background-color: darkgoldenrod;
    margin: 8px;
    padding: 8px;
}
