*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.container {
  display: flex;
  justify-content: space-around;
  margin: 40px 20px;
  background: white;
  border-radius: 20px;
  padding: 20px;
}

h1 {
  text-align: center;
}

.input-box {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.input-box input {
  flex: 1;
  padding: 10px;
}

.search {
  display: flex;
  justify-self: center;
  width: 80%;
  padding: 10px;
  margin-bottom: 20px;
}

.filters {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.todo-item {
  background: #eee;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
}

.btns {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

button {
  cursor: pointer;
  padding: 8px 12px;
}

.todo-right{
  margin: auto 5px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.todo-left{
  display: flex;
  flex-direction: column;
  gap: 18px;
}